@tailwind base;
@tailwind components;
@tailwind utilities;

/* ==== clerk class override ===== */

.cl-cardBox {
  background-color: #475569;
}
.cl-cardBox input {
  background-color:#cbd5e1 ;
}

.cl-card {
  background: transparent;
}

.cl-footer {
  background: transparent;
}

.cl-socialButtons .cl-socialButtonsIconButton {
  background: #1e293b;
}


.cl-formButtonPrimary {
  background: #1e293b;
}
.cl-formButtonPrimary:hover {
  background: #334155;
}

.cl-userButtonPopoverActionButtonIcon {
  color: white;
}
.cl-userButtonPopoverMain{
  background: #334155;
}
.cl-userButtonPopoverFooter{
  display: none;
}
.cl-userPreviewTextContainer{
  color: white;
}
.cl-userButtonPopoverActionButton:hover{
  background: #cbd5e1;
}

.cl-logoBox {
  height: 40px;
}

.cl-dividerLine {
  background: #252a41;
  height: 2px;
}


.cl-socialButtonsIconButton {
  border: 3px solid #565761;
}

.cl-internal-wkkub3,
.cl-userButtonPopoverActionButton,
.cl-headerTitle {
  color: white;
}

.cl-internal-1dauvpw {
  display: none
}

.cl-headerSubtitle,
.cl-footerActionText,
.cl-formFieldLabel,
.cl-dividerText {
  color: #cbd5e1
}
.cl-footerActionLink{
  color: white;
  font-weight: 600
}
.cl-footerActionLink:hover{
  color: white
}


/* =============================== */
.scrollbar-hide::-webkit-scrollbar{
display: none;
  }
  
.scrollbar-hide{
  scrollbar-width: none
}

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }

  .flex-between {
    @apply flex justify-between items-center;
  }

 
}